.change-location-button {
  width: 100%;
  font-size: 10vmin;
  cursor: pointer;
}

.change-location-image-button {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.7vmin;
  box-shadow: 0 0 0.5vmin 0.15vmin black;
  border: 0.1vmin solid black;
  border-radius: 0.5vmin;
  background-position: center;
  cursor: pointer;
  float: left;
  position: relative;
  .progress-bar {
    position: absolute;
  }
}
.change-location-image-button.horizontal {
  width: 44vmin;
  height: 24.8vmin;
  .progress-bar {
    width: 42vmin;
    left: 1vmin;
    bottom: 1vmin;
  }
}

.change-location-image-button.vertical {
  width: 28.542vmin;
  height: 40vmin;
  .progress-bar {
    width: 26.542vmin;
    left: 1vmin;
    bottom: 1vmin;
  }
}
