.hovertext {
  z-index: 1000;
  position: fixed;
  width: max-content;
  height: max-content;
  font-size: 2.5vmin;
  background-color: #00000086;
  border-radius: 1vmin;
  box-shadow: 0 0 0.5vmin 0.15vmin black;
  padding: 1vmin;
  font-weight: bolder;
  color: white;
  overflow-y: auto;
  .hovertext-header {
    position: absolute;
    height: 2.5vmin;
    width: 98%;
    border-bottom: 0.3vmin solid #a8a8a893;
    box-shadow: 0 0 0.5vmin 0.15vmin #a8a8a893;
    background-color: #a8a8a893;
  }
  .hovertext-header-filler {
    height: 2.5vmin;
    width: 99%;
    margin-bottom: 1vmin;
  }
  transition: opacity 0.3s;
}

.hovertext.hidden {
  opacity: 0;
}
