.player,
.player video {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
}
.player video {
  margin-bottom: -2.5vmin;
  z-index: 0;
}
.overlay {
  position: fixed;
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 3.5vmin;
    background-color: rgba(0, 0, 0, 0.725);
    color: yellow;
    input {
      width: 80%;
    }
    .play-svg,
    .fullscreen-svg {
      width: 3vmin;
      height: 3vmin;
    }

    .play-button,
    .fullscreen-button {
      padding: 0.23vmin;
    }
  }
}
