.player,
.player video {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
}
.player video {
  margin-bottom: -2.5vmin;
  z-index: 0;
}
.overlay {
  position: fixed;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: none;
  .video-menu {
    border-radius: 3vmin !important;
    box-sizing: border-box;
    .language-button {
      font-size: 2.7vmin;
      border: 0.15vmin solid rgba(255, 255, 255, 0.356);
      cursor: pointer;
      background-color: black;
      transition: color 0.7s, background-color 0.7s, box-shadow 0.7s;
      border-radius: 3vmin;
      text-align: center;
      padding: 0.7vmin;
      margin: 0.3vmin;
    }
    .language-button:hover {
      color: black;
      background-color: white;
      border: 0.15vmin solid rgba(255, 255, 255, 0.377);
      box-shadow: 0 0 1vmin 1vmin black;
    }
  }
  .controls.hidden {
    opacity: 0;
  }
  .play-button.absolute {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    top: calc(50% - 5vmin);
    left: calc(50% - 5vmin);
    cursor: pointer;
  }
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 3.5vmin;
    background-color: rgba(0, 0, 0, 0.725);
    color: yellow;
    opacity: 1;
    transition: opacity 0.3s;
    .video-time-slider {
      width: 100%;
      margin-left: 0.3vmin;
    }
    .video-volume-slider {
      width: 8%;
      margin-left: 0;
    }
    .play-svg,
    .fullscreen-svg,
    .mute-svg {
      width: 3vmin;
      height: 3vmin;
    }

    .play-button,
    .fullscreen-button,
    .mute-button {
      padding: 0.23vmin;
      padding-top: 0;
      margin-top: 0.35vmin;
      cursor: pointer;
    }
    .play-button {
      margin-left: 0.3vmin;
    }
    .fullscreen-button,
    .mute-button {
      margin-top: 0.6vmin;
      margin-right: 0.3vmin;
      width: 2.5vmin;
      height: 2.5vmin;
    }
  }
}
