.append-location-image-button {
  margin: 0.7vmin;
  box-shadow: 0 0 0.5vmin 0.15vmin black;
  border: 0.1vmin solid black;
  border-radius: 0.5vmin;
}
.append-location-image-button.horizontal {
  height: 24.8vmin;
}
.append-location-image-button.vertical {
  height: 40vmin;
}
