.trailer {
  display: flex;
  width: max-content;
  height: max-content;
  margin: 0.5vmin auto;
  position: relative;
  cursor: pointer;
  .play-svg {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    left: 20.5vmin;
    top: 14vmin;
  }
  .cover {
    width: 25.542vmin;
    height: 37vmin;
  }
  video {
    height: 37vmin;
    width: 67.5vmin;
    background: black;
  }
}

.trailer:first-child {
  margin-top: 1vmin;
}
.trailer:last-child {
  margin-bottom: 1vmin;
}
