.trailer {
  display: flex;
  margin: 0.5vmin auto;
  position: relative;
  height: 37vmin;
  width: 25.542vmin+67.5vmin;
  cursor: pointer;
  .play-svg {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    left: 20.5vmin;
    top: 14vmin;
  }
  .cover {
    width: 25.542vmin;
    height: 37vmin;
  }
  video {
    height: 37vmin;
    width: 67.5vmin;
    background: black;
  }
  .fullscreen-svg {
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    right: 0.5vmin;
    bottom: 0.5vmin;
  }
  .loading-video {
    position: absolute;
    left: 48vmin;
    top: 8vmin;
    width: 20vmin;
    height: 20vmin;
  }
}

.trailer:first-child {
  margin-top: 1vmin;
}
.trailer:last-child {
  margin-bottom: 1vmin;
}
.trailer.fullscreen-video {
  position: fixed;
  top: 14.2vmin;
  width: 100%;
  z-index: 1;
  video {
    position: absolute;
    width: 100%;
    height: inherit;
  }
}
