.trailer {
  display: flex;
  width: max-content;
  height: max-content;
  margin: 0.5vmin auto;
  position: relative;
  width: 25.542vmin+67.5vmin;
  cursor: pointer;
  .play-svg {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    left: 20.5vmin;
    top: 14vmin;
  }
  .cover {
    width: 25.542vmin;
    height: 37vmin;
  }
  video {
    height: 37vmin;
    width: 67.5vmin;
    background: black;
  }
  .fullscreen-svg {
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    right: 0.5vmin;
    bottom: 0.5vmin;
  }
}

.trailer:first-child {
  margin-top: 1vmin;
}
.trailer:last-child {
  margin-bottom: 1vmin;
}
.trailer.fullscreen-video {
  position: fixed;
  top: 14.5vmin;
  width: 100%;
  background-color: red;
  z-index: 1;
  video {
    position: absolute;
    width: 100%;
    height: inherit;
  }
}
